<p id="notice"><%= notice %></p>

<h1>Listing Ruby2scaffolds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ruby2scaffolds.each do |ruby2scaffold| %>
      <tr>
        <td><%= ruby2scaffold.name %></td>
        <td><%= link_to 'Show', ruby2scaffold %></td>
        <td><%= link_to 'Edit', edit_ruby2scaffold_path(ruby2scaffold) %></td>
        <td><%= link_to 'Destroy', ruby2scaffold, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ruby2scaffold', new_ruby2scaffold_path %>
