<p id="notice"><%= notice %></p>

<p>
  <strong>Flower:</strong>
  <%= @scaffold2.Flower %>
</p>

<p>
  <strong>Name:</strong>
  <%= @scaffold2.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @scaffold2.type %>
</p>

<%= link_to 'Edit', edit_scaffold2_path(@scaffold2) %> |
<%= link_to 'Back', scaffold2s_path %>
